@mixin flex-row {
  display: flex;
  flex-direction: row;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

header {
  background-color: lightgrey;
  @include flex-column;
  justify-content: center;
  justify-content: space-between;
  align-items: center;
  padding: 3rem;
  height: 15rem;

  @media (min-width: 600px) {
    @include flex-row;
    justify-content: space-between;
  }
}

.logo {
  width: 6rem;
}

.nav {
  @include flex-row;
  justify-content: space-between;
  width: 15rem;
}
